@import 'normalize';
@import 'layout';

body{
  font-family: 'Muli', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

/**
Header
*/
.main-container{
  padding-top: 0px;
}

.main-header{
  background-color: rgba(#000, .7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  &__nav{
    ul{
      display: flex;
      list-style: none;
      margin-left: auto;
      padding-left: 0;
      li{
        a{
          color: rgba(255, 255, 255, 0.5);
        }
        a:hover{
          color: rgba(255, 255, 255, 0.822);
        }
      }
    }
    a{
      color: #FFF;
      font-weight: bold;
      padding: .5rem 1em;
      text-transform: uppercase;
      display: block;
      background-color: transparent;
    }
  }

  &__logo{
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
  }
}

#topSection{
  background-image: url("main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  margin: 0 0 0 0;
  padding: 210px 0 210px 0;

  h1{
    font-size: 6rem;
    margin-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
  }

  h2{
    font-size: 4rem;
    margin-bottom: 60px;
    margin-top: 0;
    box-sizing: border-box;
  }

  a{
    background-color: #ee0979;
    border-color: #ee0979;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    border-radius: 50rem;
  }

  a:hover{
    background-color:#a80855;
  }
}

/**
Articles
*/
.main-articles{
  article{
    display: flex;
    align-items: center;
    padding: 0 178px 0 178px;
    margin-right: auto;
    margin-left: auto;

    h1{
      font-size: 3.5rem;
      line-height: 1.2;
      font-weight: 800;
      margin-bottom: .5rem;
    }

    figure{
      max-width: 50%;
      padding: 3rem;
      & > img{
        border-radius: 50%;
        max-height: 445px;
      }
    }

    &:nth-child(even){
      flex-direction: row-reverse;
    }
  }
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 80%;
  padding-bottom: 48px;
  padding-top: 48px;
  display: block;
  box-sizing: border-box;
}
@import '_media-queries.scss';